# ICD Codes - English
Data source - 2021 ICD-10-CM <br>
https://www.cms.gov/medicare/icd-10/2021-icd-10-cm

In [30]:
import pandas as pd

In [31]:
names = ["raw", "icd_code", "icd_code_desc"]
col_names = ["code_description"]
df = pd.read_csv("/Users/kaankorkmaz/Downloads/icd10cm_codes_2021.txt",
                             sep="\t", names=names)

In [32]:
df.head()

                                                 raw  icd_code  icd_code_desc
0  A000    Cholera due to Vibrio cholerae 01, bio...       NaN            NaN
1  A001    Cholera due to Vibrio cholerae 01, bio...       NaN            NaN
2                       A009    Cholera, unspecified       NaN            NaN
3                 A0100   Typhoid fever, unspecified       NaN            NaN
4                         A0101   Typhoid meningitis       NaN            NaN

## Data Preparation

In [33]:
for index, row in df.iterrows():
    df.loc[index,'icd_code'] = row["raw"][0:5]
    df.loc[index,'icd_code_desc'] = row["raw"][6:]

In [34]:
df.head()

,raw,icd_code,icd_code_desc
0,"A000 Cholera due to Vibrio cholerae 01, bio...",A000,"Cholera due to Vibrio cholerae 01, biovar ch..."
1,"A001 Cholera due to Vibrio cholerae 01, bio...",A001,"Cholera due to Vibrio cholerae 01, biovar eltor"
2,"A009 Cholera, unspecified",A009,"Cholera, unspecified"
3,"A0100 Typhoid fever, unspecified",A0100,"Typhoid fever, unspecified"
4,A0101 Typhoid meningitis,A0101,Typhoid meningitis

In [35]:
cols_to_keep = ["icd_code", "icd_code_desc"]
df_final = df[cols_to_keep]

In [36]:
df_final.head()

  icd_code                                      icd_code_desc
0    A000     Cholera due to Vibrio cholerae 01, biovar ch...
1    A001     Cholera due to Vibrio cholerae 01, biovar eltor
2    A009                                Cholera, unspecified
3    A0100                         Typhoid fever, unspecified
4    A0101                                 Typhoid meningitis

In [37]:
df_final["icd_code"] = df_final["icd_code"].str.strip()
df_final["icd_code_desc"] = df_final["icd_code_desc"].str.lstrip()
df_final["icd_code_desc"] = df_final["icd_code_desc"].str.rstrip()

<ipython-input-37-f671151967f4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final["icd_code"] = df_final["icd_code"].str.strip()
<ipython-input-37-f671151967f4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final["icd_code_desc"] = df_final["icd_code_desc"].str.lstrip()
<ipython-input-37-f671151967f4>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final["icd_code_desc"] = df_final["icd_code_desc"].str.rstrip()

### Side Notes
- U071 - COVID-19
- U070 - Vaping-related disorder

### Save data

In [38]:
df_final.to_csv('/Users/kaankorkmaz/projects_KK/thesis/icd_codes_en.csv')